.card__img__container {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__img__container img {
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
  object-fit: cover;
}

.card__title__name {
  text-align: center;
  font-size: 16px;
}

.card__ul__container {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__li__item {
  font-size: 14px;
}
